[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-sslserver = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
dj-database-url = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
numpy = "*"
pillow = "*"
deep-translator = "*"
openai = "*"
easyocr = "*"

[dev-packages]

[requires]
python_version = "3.11"
